.vscode/**
.vscode-test/**
.github/**
node_modules/**
out/test/**
scripts/**
src/**
.gitignore
.yarnrc
ROADMAP.md
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
